.loading {
    --circle-size: 16;
    --circle-size-px: calc(var(--circle-size) * 1px);
    --color: #acadad;
    --size: 7.5;
    --size-rem: calc(var(--size) * 1rem);

    border: var(--circle-size-px) solid #f3f3f3;
    border-radius: 50%;
    border-top: var(--circle-size-px) solid var(--color);
    width: var(--size-rem);
    height: var(--size-rem);
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
